<a href="https://colab.research.google.com/github/TuanAnhNguyen2807/Mining-Massive-Dataset/blob/main/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

In [9]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from google.colab import drive
drive.mount('/content/drive')
import collections
conf = SparkConf().setMaster("local").setAppName("count")
sc = SparkContext.getOrCreate(conf=conf)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
spark = SparkSession.builder.master("local[1]").appName("SparkExample").getOrCreate()  
data = [('Project', 1),
('Gutenberg’s', 1),
('Alice’s', 1),
('Adventures', 1),
('in', 1),
('Wonderland', 1),
('Project', 1),
('Gutenberg’s', 1),
('Adventures', 1),
('in', 1),
('Wonderland', 1),
('Project', 1),
('Gutenberg’s', 1)]
rdd=spark.sparkContext.parallelize(data)
test = rdd.reduceByKey(lambda x, y: x + y)
list_test= test.collect()
print(list_test)

[('Project', 3), ('Gutenberg’s', 3), ('Alice’s', 1), ('Adventures', 2), ('in', 2), ('Wonderland', 2)]

In [19]:
text_file = sc.textFile("drive/MyDrive/BigData/Week2/text.txt")
n_words = text_file.map(lambda line : len(line.split()))
llist = n_words.collect()
for i in llist:
  print(i)

4
3
5

**Spark DataFrame**

In [ ]:
columns = ["id","firstname","middlename","lastname","gender","country"]
data = [('A1','Nguyen','Tuan','Anh','Nam','DL'),
        ('A2','Pham','Van','A','Nam','DL'),
        ('A3','Tran','Tuan','Anh','Nam','BT'),
        ('A4','Nguyen','Ngoc Hong','Phuc','Nu','HCM'),
        ('A5','Dang','Tuan','Anh','Nam','DL')
]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---+---------+----------+--------+------+-------+
| id|firstname|middlename|lastname|gender|country|
+---+---------+----------+--------+------+-------+
| A1|   Nguyen|      Tuan|     Anh|   Nam|     DL|
| A2|     Pham|       Van|       A|   Nam|     DL|
| A3|     Tran|      Tuan|     Anh|   Nam|     BT|
| A4|   Nguyen| Ngoc Hong|    Phuc|    Nu|    HCM|
| A5|     Dang|      Tuan|     Anh|   Nam|     DL|
+---+---------+----------+--------+------+-------+

**PySpark SQL**

In [ ]:
df.createOrReplaceTempView("Student_Data")
df2 = spark.sql("SELECT * from Student_Data")
df2.printSchema()
df2.show()

root
 |-- id: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)

+---+---------+----------+--------+------+-------+
| id|firstname|middlename|lastname|gender|country|
+---+---------+----------+--------+------+-------+
| A1|   Nguyen|      Tuan|     Anh|   Nam|     DL|
| A2|     Pham|       Van|       A|   Nam|     DL|
| A3|     Tran|      Tuan|     Anh|   Nam|     BT|
| A4|   Nguyen| Ngoc Hong|    Phuc|    Nu|    HCM|
| A5|     Dang|      Tuan|     Anh|   Nam|     DL|
+---+---------+----------+--------+------+-------+

In [ ]:
temp = spark.sql("SELECT lastname, country from Student_Data")
temp.show()

+--------+-------+
|lastname|country|
+--------+-------+
|     Anh|     DL|
|       A|     DL|
|     Anh|     BT|
|    Phuc|    HCM|
|     Anh|     DL|
+--------+-------+