<a href="https://colab.research.google.com/github/TuanAnhNguyen2807/Mining-Massive-Dataset/blob/main/demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/27/67/5158f846202d7f012d1c9ca21c3549a58fd3c6707ae8ee823adcaca6473c/pyspark-3.0.2.tar.gz (204.8MB)
     |████████████████████████████████| 204.8MB 69kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 39.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.2-py2.py3-none-any.whl size=205186687 sha256=3703d2c761e3826237ae8e0229af050d547f4c77d86d103eae8cb90a9b4b9fb9
  Stored in directory: /root/.cache/pip/wheels/8b/09/da/c1f2859bcc86375dc972c5b6af4881b3603269bcc4c9be5d16
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.2

In [ ]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from google.colab import drive
drive.mount('/content/drive')
import collections
conf = SparkConf().setMaster("local").setAppName("count")
sc = SparkContext.getOrCreate(conf=conf)

Mounted at /content/drive

In [23]:
spark = SparkSession.builder.master("local[1]").appName("SparkExample").getOrCreate()  
data = [('Project', 1),
('Gutenberg’s', 1),
('Alice’s', 1),
('Adventures', 1),
('in', 1),
('Wonderland', 1),
('Project', 1),
('Gutenberg’s', 1),
('Adventures', 1),
('in', 1),
('Wonderland', 1),
('Project', 1),
('Gutenberg’s', 1)]
rdd=spark.sparkContext.parallelize(data)
test = rdd.reduceByKey(lambda x, y: x + y)
print(test.count())
print(test.collect())

6
[('Project', 3), ('Gutenberg’s', 3), ('Alice’s', 1), ('Adventures', 2), ('in', 2), ('Wonderland', 2)]

**Spark DataFrame**

In [ ]:
columns = ["id","firstname","middlename","lastname","gender","country"]
data = [('A1','Nguyen','Tuan','Anh','Nam','DL'),
        ('A2','Pham','Van','A','Nam','DL'),
        ('A3','Tran','Tuan','Anh','Nam','BT'),
        ('A4','Nguyen','Ngoc Hong','Phuc','Nu','HCM'),
        ('A5','Dang','Tuan','Anh','Nam','DL')
]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---+---------+----------+--------+------+-------+
| id|firstname|middlename|lastname|gender|country|
+---+---------+----------+--------+------+-------+
| A1|   Nguyen|      Tuan|     Anh|   Nam|     DL|
| A2|     Pham|       Van|       A|   Nam|     DL|
| A3|     Tran|      Tuan|     Anh|   Nam|     BT|
| A4|   Nguyen| Ngoc Hong|    Phuc|    Nu|    HCM|
| A5|     Dang|      Tuan|     Anh|   Nam|     DL|
+---+---------+----------+--------+------+-------+

**PySpark SQL**

In [ ]:
df.createOrReplaceTempView("Student_Data")
df2 = spark.sql("SELECT * from Student_Data")
df2.printSchema()
df2.show()

root
 |-- id: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)

+---+---------+----------+--------+------+-------+
| id|firstname|middlename|lastname|gender|country|
+---+---------+----------+--------+------+-------+
| A1|   Nguyen|      Tuan|     Anh|   Nam|     DL|
| A2|     Pham|       Van|       A|   Nam|     DL|
| A3|     Tran|      Tuan|     Anh|   Nam|     BT|
| A4|   Nguyen| Ngoc Hong|    Phuc|    Nu|    HCM|
| A5|     Dang|      Tuan|     Anh|   Nam|     DL|
+---+---------+----------+--------+------+-------+

In [ ]:
temp = spark.sql("SELECT lastname, country from Student_Data")
temp.show()

+--------+-------+
|lastname|country|
+--------+-------+
|     Anh|     DL|
|       A|     DL|
|     Anh|     BT|
|    Phuc|    HCM|
|     Anh|     DL|
+--------+-------+